body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.footer_container{
    background-color: #F7F9FF;
    width: 354px;
    height: 98px;
    margin: 0 auto;
    display: flex;
    border-radius: 10%;
}

.footer_container .icon{
    justify-content:start;
    align-items: center;
    display: flex;
}
.footer_container .money{
    justify-content:center;
}
.footer_container .link{
    justify-content:end;
    align-items: center;
    display: flex;;
}

form{
    border:2px solid black;
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background: #FFF;
    

}

.button_style  .Proceed_to_Payment{
    width: 354px;
    height: 50px;
    color: #FFF;
    background-color: #382AE1;
    border-radius: 12px;
    border: none;
    

}

.button_style .cancel_order{
    width: 354px;
    height: 50px;
    color: #717FA6;
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid gray;
}

.cat_image{
    width: 450px;
    height: 220px;
    border-radius:  20px 20px 0px 0px;
}
.downpart{

    padding: 48px;
}
